/**
STYLE SECTIONS
1. Navbar + Home
2. About
3. Portfolio
4. Resume
5. Hobbies and Interests
**/


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/** Section: Navbar **/
#navbar {
  width: 50%;
  left: 0;
  position: fixed;
  z-index: 1000;

  a {
    color: white;
  }
}

/** Styles if menu is closed **/
.navbar-filled {
  background-color: rgb(28, 26, 27, 1);
}

/** Styles if menu is open **/
.navbar-transparent {
  background-color: rgb(28, 26, 27, 0);
}

/** Navbar collapsed icon and button **/
.navbar-toggler {
  background-color: #F06000;

  .navbar-toggler-icon {
    background-color: #F06000;
  }
}

.nav-link {
  letter-spacing: .1rem;
  font-size: 9pt;
}

/** Exclusive to desktop **/
@media (min-width: 992px) {

  #navbar,
  #navbar-container {
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
  }

  #navbarNavDropdown {
    justify-content: center;
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .alternate {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    background-color: red;
    color: red;
  }

  .alt-nav-gone {
    display: none;
  }
}


/** Section: Home **/

#home {
  background-image: url('./assets/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  display: flex;
  /* Adjust padding to accommodate Navbar height */
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Roboto';
    color: white;
  }
}

#nav-home-container {
  justify-content: center;
  height: 100%;
  padding: 0;

  .col {
    padding: 0;
  }
}

#nav-row {
  height: 10%;
}

#home-row {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-row {
  height: 10%;
}

/* Default font size for .responsive-header */
.responsive-header {
  font-size: 4.7rem;
  /* Adjust the default font size as needed */
  font-weight: bolder;
}

#responsive-article {
  font-size: 1rem;
}

/* Media queries for different screen sizes */
@media (max-width: 576px) {

  /* Small devices (e.g., phones) */
  .responsive-header {
    font-size: 2.6rem;
    /* Adjust the font size for small devices */
  }

  #responsive-article {
    font-size: 1rem;
    /* Increase the font size for extra large devices */
  }
}

@media (min-width: 576px) and (max-width: 768px) {

  /* Medium devices (e.g., tablets) */
  .responsive-header {
    font-size: 3.3rem;
    /* Adjust the font size for medium devices */
  }

  #responsive-article {
    font-size: 1.1rem;
    /* Increase the font size for extra large devices */
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  /* Large devices (e.g., small desktops) */
  .responsive-header {
    font-size: 4rem;
    /* Revert to default font size for large devices */
  }

  #responsive-article {
    font-size: 1.3rem;
    /* Increase the font size for extra large devices */
  }
}

@media (min-width: 992px) {

  /* Extra large devices (e.g., large desktops) */
  .responsive-header {
    font-size: 4.7rem;
    /* Increase the font size for extra large devices */
  }

  #responsive-article {
    font-size: 1.5rem;
    /* Increase the font size for extra large devices */
  }
}


#home-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}


#home-text {

  text-align: center;
  width: 80%;
  /* Adjust width for better responsiveness */
  max-width: 800px;
  /* Limit maximum width for better readability */

  article {
    font-family: 'Roboto';
    color: #A8A8A8;
  }

  span {
    font-family: 'Roboto';
    color: white;
  }
}

#social-media-buttons {
  list-style-type: none;
  padding: 0;
}

#social-media-buttons li {
  display: inline-block;
  font-size: 2.5em;
}

.social-media-icon {
  color: white;
  padding: 1em;
}

#circle-arrow-down {
  color: white;
  font-size: 2.5em;
}







/** Section: About **/

#about {
  background-color: #2B2B2B;
  padding: 60px 0;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }

  }

  h3 {
    color: white;
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  p {
    color: rgb(121, 121, 121);
    text-align: left;
    font-size: 12pt;
    line-height: 2;
  }

  img {
    padding-top: 3rem;
  }

  #img-column,
  #text-column {
    height: 100%;
  }

  .button-download {
    background-color: #444;
    border-color: #444;
    width: 80%;
    border-radius: 2px;
  }

  #download-resume-buttons p {
    text-align: center;
  }

  #download-resume-buttons>button {
    margin: 1rem 0;
    padding: 1rem 0;
    font-weight: bold;
    width: 100%;

    a {
      text-decoration: none;
      color: white;
      padding-left: 1rem;
    }
  }

  #contact-details p {
    line-height: 0.8;
  }
}

/** Exclusive to Desktop **/
@media (min-width: 992px) {}


.button-resume {
  width: 70%;
  margin: 1em 0em;
  padding: 1em;
  background-color: gray;
  transition: background-color 0.5s ease;

  font: 1.2em monospace;
}

.button-resume:hover {
  cursor: pointer;
  background-color: steelblue;
}










/** Section: Portfolio **/

.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

#portfolio {
  background-color: #ebeeee;
  padding: 60px 0;
}

/** Grid Styles **/
.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
}

/* Extra small devices (phones, 576px and down) */
@media (max-width: 575.98px) {
  .grid-container {
    grid-template-areas:
      'hci'
      'trophy'
      'personal'
    ;
    padding: 20px 30px;
  }

  .item-vertical {
    height: auto;
    width: 40%;
  }

  .item-horizontal {
    height: auto;
    width: 70%;
  }

  .card-body p {
    font-size: 1rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .grid-container {
    grid-template-areas:
      'hci'
      'trophy'
      'personal'
    ;
    padding: 20px 30px;
  }

  .item-vertical {
    height: auto;
    width: 40%;
  }

  .item-horizontal {
    height: auto;
    width: 70%;
  }

  .card-body p {
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .grid-container {
    grid-template-areas:
      'hci hci hci hci  trophy trophy trophy trophy personal personal personal personal'
    ;
    padding: 20px 30px;
  }

  .item-vertical {
    height: auto;
    width: 50%;
  }

  .item-horizontal {
    height: auto;
    width: 100%;
  }

  .card-body p {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid-container {
    grid-template-areas:
      'hci hci hci hci  trophy trophy trophy trophy personal personal personal personal'
    ;
    padding: 20px 30px;
  }

  .item-vertical {
    height: auto;
    width: 50%;
  }

  .item-horizontal {
    height: auto;
    width: 100%;
  }

  .card-body p {
    font-size: 1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .grid-container {
    grid-template-areas:
      'hci hci hci hci hci trophy trophy trophy trophy personal personal personal personal personal'
    ;
    padding: 20px 40px;
  }

  .item-vertical {
    height: auto;
    width: 50%;
  }

  .item-horizontal {
    height: auto;
    width: 100%;
  }

  .card-body p {
    font-size: 1rem;
  }
}

.grid-container>div {
  text-align: center;
  font-size: 30px;
}

/** Grid Items **/
#item-HCI {
  grid-area: hci;
  background: transparent;
  border: none;
}

#item-trophy {
  grid-area: trophy;
  background: transparent;
  border: none;
}

#item-personal-site {
  grid-area: personal;
  background: transparent;
  border: none;
}








/** Section: Resume **/

#resume {
  background-color: #fff;
  padding: 80px 0;
}

#education {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}

#education-row {
  padding-bottom: 1rem;
}

#resume h3 {
  text-align: left;
}

#resume p {
  text-align: left;
  color: #838C95
}

#resume h4 {
  border-bottom: 3px solid #11ABB0;
}

.certificate,
.work-experience {
  width: 100%;
  padding-bottom: 1rem;
}

#resume h3,
#resume p {
  text-align: left;
}

#work-experience ul {
  list-style-type: none;
  padding: 0;

  li {
    text-align: left;
    padding-bottom: 10px;
    color: #838C95
  }
}

.italics {
  font-style: italic;
  font-size: 1.05rem;
  font-weight: 500;
}


/* Extra small devices (phones, less than 576px) */
/* Styles applied here will affect devices with a maximum width of 575.98px */
@media (max-width: 575.98px) {

  /* Add styles for extra small devices here */
  #education-section-header h4,
  #certificate-section-header h4,
  #work-history-section-header h4 {
    font-size: 1.5em;
    display: inline-block;
    height: 60%;
    padding-bottom: 20px;
  }

  #certificate-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bullet-point::before {
    content: '\2022';
    /* Unicode character for bullet point */
    margin-right: 0;
    /* Add some spacing between bullet point and text */
    font-size: 1.5em;
  }
}

/* Small devices (phones, 576px and up) */
/* Styles applied here will affect devices with a minimum width of 576px */
@media (min-width: 576px) and (max-width: 768px) {

  /* Add styles for small devices here */
  #education-section-header h4,
  #certificate-section-header h4,
  #work-history-section-header h4 {
    font-size: 1.5em;
    display: inline-block;
    height: 60%;
    padding-bottom: 20px;
  }

  #certificate-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bullet-point::before {
    content: '\2022';
    /* Unicode character for bullet point */
    margin-right: 0;
    /* Add some spacing between bullet point and text */
    font-size: 1.5em;
  }
}

/* Medium devices (tablets, 768px and up) */
/* Styles applied here will affect devices with a minimum width of 768px */
@media (min-width: 768px) and (max-width: 992px) {

  /* Add styles for medium devices here */
  #education-section-header h4,
  #certificate-section-header h4,
  #work-history-section-header h4 {
    font-size: 1.5em;
    display: inline-block;
    height: 60%;
    padding-bottom: 20px;
  }

  #certificate-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bullet-point::before {
    content: '\2022';
    /* Unicode character for bullet point */
    margin-right: 0;
    /* Add some spacing between bullet point and text */
    font-size: 1.5em;
  }
}

/* Large devices (desktops, 992px and up) */
/* Styles applied here will affect devices with a minimum width of 992px */
@media (min-width: 992px) and (max-width: 1200px) {

  /* Add styles for large devices here */
  #education-section-header,
  #certificate-section-header,
  #work-history-section-header {
    font-size: 1em;
    display: flex;
    height: 0%;
  }

  #certificate-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bullet-point::before {
    content: '\2022';
    /* Unicode character for bullet point */
    margin-right: 0;
    /* Add some spacing between bullet point and text */
    font-size: 1.5em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/* Styles applied here will affect devices with a minimum width of 1200px */
@media (min-width: 1200px) {
  /* Add styles for extra large devices here */

  #education-section-header,
  #certificate-section-header,
  #work-history-section-header {
    font-size: 1.5em;
    display: flex;
    height: 0%;
  }

  #certificate-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bullet-point::before {
    content: '\2022';
    /* Unicode character for bullet point */
    margin-right: 0;
    /* Add some spacing between bullet point and text */
    font-size: 1.5em;
  }
}